.icon-link {
  width: 28px;
  display: inline-block;
  margin-right: 8px;
}

.svg-icon {
  fill: #ffffff;
}

.post-link {
  text-decoration: none;
}

.header-link {
  text-decoration: none;
}

.header-link:hover {
  text-decoration: underline;
}

.post-link:hover {
  text-decoration: underline;
}
